<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Teach_Learn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SIniciarSesion</display-name>
    <servlet-name>SIniciarSesion</servlet-name>
    <servlet-class>controladores.SIniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SIniciarSesion</servlet-name>
    <url-pattern>/SIniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SActualizarUsuario</display-name>
    <servlet-name>SActualizarUsuario</servlet-name>
    <servlet-class>controladores.SActualizarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SActualizarUsuario</servlet-name>
    <url-pattern>/SActualizarUsuario</url-pattern>
  </servlet-mapping>
</web-app>